body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
}

.responsive-viewer {
    width: 100%;
    height: calc(100vh - 100px); /* Mengurangi tinggi untuk header */
    max-width: 800px; /* Maksimal lebar untuk tampilan desktop */
    margin: auto; /* Pusatkan tampilan */
    border: 1px solid #ccc; /* Tambahkan border untuk tampilan */
    overflow: hidden; /* Sembunyikan overflow */
}
